.container-fluid.orderForm{
    margin-top: 7rem !important;
    background-color: #102E46;
}
.orderSummary h3{
    color: #fff;
    padding: 1rem 0;
    font-family: var(--global-font-family);
}
.infoForm{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 3rem 6rem;
    font-family: var(--global-font-family);
}
.infoForm h3{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #102E46;
    padding: 1rem 0;
}
.infoForm .form-label{
    font-size: 16px;
}
.infoForm .form-control{
    /* box-shadow */
    box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
    border-radius: 2px;
}
.orderSummary p{
    color: #fff;
}
.orderSummary .list-group-item{
    border-bottom: 1px solid #fff;
}
.orderSummary .addToLists .addTitle{
    width: 300px;
    padding-left: 10px;
}
.orderSummary .price{
    text-align: right;
}
.total{
    border-top: 1px solid #fff;
    padding-top: 1rem;
    width: 100%;
    margin: 0 auto !important;
}
.ptitle{
    width: 80px;
}