.container-fluid.banner{
    margin-top: 9rem !important;
    background: url("../../assets/images/Floor2.png") no-repeat center bottom;
    position: relative;
}
.sidebarBg{
    background: url("../../assets/images/sidebar-bg.png") no-repeat;
}
.banner .row{
    padding-bottom: 7rem;
}
.bookItems .col-md-2{
    width: 18%;
}
.bannerImg1{
    position: absolute;
    bottom: 0.5rem;
    left: 5rem;
}
.bannerImg2{
    position: absolute;
    bottom: 1rem;
    right: 5rem;
}
.bookItems h5{
    font-weight: 600;
}
.bookItems hr{
    color: var(--global-color-header);
    opacity: 1;
    height: 2px;
    width: 70%;
    margin: 1rem 0 0;
}
.bookItems .card{
    border: none;
    margin-bottom: 3rem;
    align-items: center;
    background: none;
}
.bookItems .card-body:hover{
    background-color: var(--global-color-lightblue);
}
.bookItems .card-body{
    box-shadow: #0000003d 0px 3px 8px;
    margin-bottom: 1.5rem;
    width: 100%;
    font-family: "Myanmar Sans Pro", sans-serif;
}
.bookItems .card-title{
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0;
}
.bookItems .card-img-top{
    width: 100%;
}
.bookItems .list-group-item{
    border: none;
    padding: 1rem 0;
    background: none;
}